@keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 40px, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation: fadeInUp 1s ease;
}